.questions_list *,
.answers_list * {
    margin-bottom: 0;
}

.questions_list,
.answers_list {
    margin-bottom: 20px;
}

.user_answer * {
    margin: 0;
}
.user_answer {
    margin-bottom: 50px;
}

#pieChartsElements canvas {
    max-width: 400px;
}
